ul {
  list-style-type: none;
}

li {
  padding: 10px 30px;
  margin: 5px;
  background: #faebd7;
}

#addburger {
  background-color: #36828f;
  color: #faebd7;
  padding:10px 20px;
  border: 1px solid #18464f;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#addburger:hover {
  background-color: #09363e;
}

.devour-burger {
  background-color: #791623;
  border: 2px solid #210005;
  color: #faebd7;
  display: inline-block;
  text-align: right;
  padding: 5px 10px;
  margin-left: 20px;
  cursor: pointer;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
header {
  text-align: center;
}

body {
  background-color: #efcf97;
}
.alignblock {
  display: block;
  margin-left: 25%;
}
/* alignment blocks */

section h2 {
  text-align: center;
}

.leftblock {
  float: left;
}
.rightblock {
  float: left;
  margin-left: 10%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.bottomblock {
  text-align: center;
}

#add {
  height:60px;
  width: 300px;
}
